<div class="jumbotron">
  <h1>About</h1>
  <div class="row">
    <div class="col-xs-6">
      <h2>How Toilet works</h2>
      <p>
        Toilets, the overwhelmingly useful household "gadget" as some may call          it, is known for it's great usability and flushability! We, are going           to revolutionalize this revolutionary idea of toilets.
      </p>

    </div>
    <div class="col-xs-6">
      <ul class="about-toilets">
        <li>Portability</li>
        <li>Cleanability</li>
        <li>Flushability</li>
      </ul>
    </div>
  </div>
</div>

<div class="row">
  <h1>Meet the Team</h1>
  <div class="row dolphins text-center">
    <div class="col-xs-4"><img src="<%= asset_path("config.jpg")  %>"  alt="Config" class="img-circle">
    <h2>Bill</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    </div>
    <div class="col-xs-4"><img src="<%= asset_path("dol2.jpg") %>" alt="Dol2" class="img-circle">
    <h2>Gill</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    </div>
    <div class="col-xs-4"><img src="<%= asset_path("dolphin.jpeg") %>" alt="Dolphin" class="img-circle">
    <h2>Flipper</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    </div>
  </div>
</div>




