<div class="col-xs-9 home-page">
<h1>Home</h1>
    <div class="home-sidebar bs-docs-sidebar">
      <ul class="nav navbar-default bs-docs-sidenav" role="tablist">
        <li><a href="#dolphin-toilet">Toilets for Dolphins</a></li>
        <li><a href="#reason">Why do this?</a></li>
        <li><a href="#heart">Love and Peace and Dolphins</a></li>
      </ul>

    </div>


<div class="row">
  <div class="col-xs-9 col-xs-offset-3">
    <div id="dolphin-carousel" class="carousel slide"
    data-ride="carousel">
<!--indicator -->
      <ol class="carousel-indicators">
        <li data-target="#dolphin-carousel" data-slide-to="0"
            class="active"></li>
        <li data-target="#dolphin-carousel" data-slide-to="1"></li>
        <li data-target="#dolphin-carousel" data-slide-to="2"></li>
      </ol>
<!--wrapper -->
      <div class="carousel-inner">
        <div class="item active">
          <img src="<%=asset_path("dolphins-singing.jpg")  %>"
          alt="dolphins-singing">
        </div>
        <div class="item">
          <img src="<%=asset_path("dolphinsjumping.jpg")  %>"
          alt="dolphins-singing">
        </div>
        <div class="item">
          <img src="<%=asset_path("jumping-dolphins-sea.jpg")  %>"
          alt="dolphins-singing">
        </div>
      </div>
<!--carousel controller -->
      <a class="left carousel-control" href="#dolphin-carousel" role="button"
      data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left"></span>
      </a>
      <a class="right carousel-control" href="#dolphin-carousel" role="button"
      data-slide="next">
        <span class="glyphicon glyphicon-chevron-right"></span>
      </a>
    </div>
  </div>
</div>
<div class="row">
<h3 id="dolphin-toilet">Toilets for Dolphins</h3>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation <a class="tooltip-ex" href="#" data-toggle="tooltip" data-placement="top" title="HMMMMM">momo</a> ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

<h3 id="reason">Why do this?</h3>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et <a class="tooltip-ex" href="#" data-toggle="tooltip" data-placement="top" title="HMMMMM">bobo</a> dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum <a class="tooltip-ex" href="#" data-toggle="tooltip" data-placement="top" title="HMMMMM">nono</a> dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

<h3 id="heart">Love and Peace and Dolphins</h3>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor <a class="tooltip-ex" href="#" data-toggle="tooltip" data-placement="top" title="HMMMMM">moomoo</a> in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
</div>
</div>