<div class="modal fade"
     id="myModal"
     tabindex="-1"
     role="dialog"
     aria-labelledby="myModalLabel"
     aria-hidden="true">
<h1>Sign In</h1>



<form role="form" action="<%= session_url %>" method="post">
  <input
     name="authenticity_token"
     type="hidden"
     value="<%= form_authenticity_token %>">
<div class="row">
  <div class="form-group col-xs-5 col-xs-offset-1">
    <label for="user_username">Username</label>
    <input class="form-control"
       placeholder="Username"
       id="user_username"
       name="user[username]"
       type="text">
  </div>

  <div class="form-group col-xs-5">
    <label for="user_password">Password</label>
    <input class="form-control"
       placeholder="Password"
       id="user_password"
       name="user[password]"
       type="password">
  </div>

  <div class="col-xs-4 col-xs-offset-1">
    <input class="btn btn-primary" type="submit" value="Log in">
  </div>
</div>
</form>
